.mceContentBody {background-color:#TEST !important; font-family:Verdana, Arial, Helvetica, sans-serif !important; color:#TEST !important; font-size:TEST !important; padding:TEST !important; margin:10px !important; direction:ltr !important; text-indent:TEST !important;}

.body{line-height:19px !important;}